.my-body {
    width: 18.75rem;
    background-color: #57cea0;
}

.dbx-btn {
        margin: 0 !important;
        color: white;
}

.my-ul {
    padding-inline-start: 0.9375rem
} 
 
 .bounce-top {
	-webkit-animation: bounce-top 0.9s both;
	        animation: bounce-top 0.9s both;
}



.dbx-btn-container{
        position: relative;
        margin: auto;
        width: -moz-fit-content;
        width: fit-content;
        transition: .2s;
        transition-delay: 1s;
      }
      
      .dbx-btn {
        background-color: #57cea0;
        color: white !important;
        padding: 1rem;
        font-size: 1rem;
        border: none;
        outline: none;
        min-width: 7.3125rem;
        cursor: pointer;
      }
      
      
      .dropdown-content {
        transition: .2s;
        transition-delay: 1s;
        display: none;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        /* transform: translate(-7.5625rem, -0.4375rem); */
        top: -60px;
        right: -10rem;
        overflow: hidden;
        z-index: -1;
          /* height: 2.1875rem; */
        /* background-color: blueviolet; */
        padding: 5px;
        left: 110px;
        width: 185px;
        height: 160px;
        border-radius: 7px;
      }

      .ddx-inner-container {
        /* background-color: orange; */
        height: inherit;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        margin: 0;
        position: relative;
      }

      
      
      .dropdown-content .dbx-btn-link {
        color: white;
        max-width: 160px;
        font-family: inherit;
        font-size: smaller;
        text-shadow: 1px 1px 3px #0d0d0d;
        margin: 0.3125rem !important;
        /* transform: translate(-0rem, -0.4375rem) scale(.3); */
        /* padding: inherit; */
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        background-color: #69d3aa;
        /* margin: 0.3125rem 0rem; */
        padding: 5px;
        /* top: 0;
        left: 0; */
        /* position: absolute; */
        height: 40px;
        border-radius: 5px !important;
        box-shadow: 0 4px 6px -1px rgb(0 0 0 / 47%), 0 2px 4px -1px rgb(0 0 0 / 23%);
      }
      
        .show-dropdown {
        display: flex !important;
        }

        .dbx-btn-link{
        transition: .2s ease-in-out;
        }
      
      .dropdown-content .dbx-btn-link:hover {
        /* background-color: #2196f3 !important; */
        text-decoration: none !important;
        box-shadow: 0 2px 3px -1px rgb(0 0 0 / 47%), 0 0px 2px -1px rgb(0 0 0 / 23%) !important;
        transition: .2s ease-in;
        transform: translate(0px, 2px) !important;
        
      }
      
      .dropdown-content span {
        font-size: 0.625rem;
      }
      

      
      
      
      
      /* Animation */
      




/**
 * ----------------------------------------
 * animation bounce-top
 * ----------------------------------------
 */
 @-webkit-keyframes bounce-top {
    0% {
      -webkit-transform: translateY(-2.8125rem);
              transform: translateY(-2.8125rem);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      -webkit-transform: translateY(-1.5rem);
              transform: translateY(-1.5rem);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    65% {
      -webkit-transform: translateY(-0.75rem);
              transform: translateY(-0.75rem);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    82% {
      -webkit-transform: translateY(-0.375rem);
              transform: translateY(-0.375rem);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    93% {
      -webkit-transform: translateY(-0.25rem);
              transform: translateY(-0.25rem);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
      -webkit-transform: translateY(0rem);
              transform: translateY(0rem);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    100% {
      -webkit-transform: translateY(0rem);
              transform: translateY(0rem);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
  }
  @keyframes bounce-top {
    0% {
      -webkit-transform: translateY(-2.8125rem);
              transform: translateY(-2.8125rem);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      -webkit-transform: translateY(-1.5rem);
              transform: translateY(-1.5rem);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    65% {
      -webkit-transform: translateY(-0.75rem);
              transform: translateY(-0.75rem);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    82% {
      -webkit-transform: translateY(-0.375rem);
              transform: translateY(-0.375rem);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    93% {
      -webkit-transform: translateY(-0.25rem);
              transform: translateY(-0.25rem);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
      -webkit-transform: translateY(0rem);
              transform: translateY(0rem);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    100% {
      -webkit-transform: translateY(0rem);
              transform: translateY(0rem);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
  }


  .slide-in-left {
	-webkit-animation: slide-in-left 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-left-reverse {
	-webkit-animation: slide-in-left-reverse 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
	        animation: slide-in-left-reverse 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
}


/**
 * ----------------------------------------
 * animation slide-in-left-reverse
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-left-reverse {
        0% {
          -webkit-transform: translateX(-1000px);
                  transform: translateX(-1000px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          opacity: 1;
        }
      }
      @keyframes slide-in-left-reverse {
        0% {
          -webkit-transform: translateX(-1000px);
                  transform: translateX(-1000px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          opacity: 1;
        }
      }
      

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
