.my-body {
    width: 18.75rem;
    background-color: #57cea0;
}

.dbx-btn {
        margin: 0 !important;
        color: white;
}

.my-ul {
    padding-inline-start: 0.9375rem
} 
 
 .bounce-top {
	-webkit-animation: bounce-top 0.9s both;
	        animation: bounce-top 0.9s both;
}



.dbx-btn-container{
        position: relative;
        margin: auto;
        width: -moz-fit-content;
        width: fit-content;
        transition: .2s ease-out;
      }
      
      .dbx-btn {
        background-color: #57cea0;
        color: white !important;
        padding: 1rem;
        font-size: 1rem;
        border: none;
        outline: none;
        min-width: 7.3125rem;
        cursor: pointer;
        z-index: 1;
        
      }
      
      
      .dropdown-content {
        position: absolute;
        transform: translate(-7.5625rem, -0.4375rem);
        min-width: 10rem;
        position: absolute;
        top: 0.9375rem;
          right: -10rem;
          transition: .1s ease-out;
          overflow: hidden;
          z-index: -1;
          height: 2.1875rem;
          opacity: 0;
      
      }
      
      .dropdown-content a {
        color: black;
        margin: 0.3125rem !important;
        transform: translate(-0rem, -0.4375rem) scale(.5);
        padding: 0.75rem 1rem;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        background-color: #69d3aa;
        border-radius: 1.875rem !important;
        margin: 0.3125rem 0rem;
        transition: .2s ease-out;
        top: 0;
        left: 0;
        transition: .2s ease-out;
        position: absolute;
      }
      
      .dropdown-content:hover {
        transition: .2s ease-out;
        opacity:1;
        transition: .2s ease-out;
        overflow: hidden;
        z-index: 1;
        top: -3.625rem;
        right:  -12.75rem;
        height: 10.3125rem;
        transform: translate(0rem, -0.6875rem) scale(1);
      }
      
      .dbx-btn:hover ~ .dropdown-content a{
        position: relative;
        transform: translate(0rem, 0rem) scale(1);
      }
      
      .dbx-btn:hover ~ .dropdown-content {
        /* transition: .2s ease-out; */
        opacity:1;
        /* transition: .2s ease-out; */
        overflow: hidden;
        z-index: 1;
        top: -3.625rem;
        right:  -12.75rem;
        height: 10.5rem;
        transform: translate(0rem, -0.6875rem) scale(1);
      }
      

      .dropdown-content:hover  a {
        transform: translate(0rem, 0rem) scale(1);
        transition: .2s ease-out;
        position: relative;
      
      }
      
      .dropdown-content a:hover {
        background-color: #2196f3 !important;
        text-decoration: none !important;
        
      }
      
      .dropdown-content span {
        font-size: 0.625rem;
      }
      

      
      
      
      
      /* Animation */
      




/**
 * ----------------------------------------
 * animation bounce-top
 * ----------------------------------------
 */
 @-webkit-keyframes bounce-top {
    0% {
      -webkit-transform: translateY(-2.8125rem);
              transform: translateY(-2.8125rem);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      -webkit-transform: translateY(-1.5rem);
              transform: translateY(-1.5rem);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    65% {
      -webkit-transform: translateY(-0.75rem);
              transform: translateY(-0.75rem);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    82% {
      -webkit-transform: translateY(-0.375rem);
              transform: translateY(-0.375rem);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    93% {
      -webkit-transform: translateY(-0.25rem);
              transform: translateY(-0.25rem);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
      -webkit-transform: translateY(0rem);
              transform: translateY(0rem);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    100% {
      -webkit-transform: translateY(0rem);
              transform: translateY(0rem);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
  }
  @keyframes bounce-top {
    0% {
      -webkit-transform: translateY(-2.8125rem);
              transform: translateY(-2.8125rem);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      -webkit-transform: translateY(-1.5rem);
              transform: translateY(-1.5rem);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    65% {
      -webkit-transform: translateY(-0.75rem);
              transform: translateY(-0.75rem);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    82% {
      -webkit-transform: translateY(-0.375rem);
              transform: translateY(-0.375rem);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    93% {
      -webkit-transform: translateY(-0.25rem);
              transform: translateY(-0.25rem);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
      -webkit-transform: translateY(0rem);
              transform: translateY(0rem);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    100% {
      -webkit-transform: translateY(0rem);
              transform: translateY(0rem);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
  }