.my-body {
    width: 300px;
    background-color: #57cea0;
}

.my-ul {
    padding-inline-start: 15px
} 
 
 .bounce-top {
	-webkit-animation: bounce-top 0.9s both;
	        animation: bounce-top 0.9s both;
}



.dbx-btn-container{
        position: relative;
        width: -moz-fit-content;
        width: fit-content;
        transition: .2s ease-out;
      }
      
      .dbx-btn {
        background-color: #57cea0;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        outline: none;
       
        cursor: pointer;
        z-index: 1;
        
      }
      
      
      .dropdown-content {
        position: absolute;
        transform: translate(-121px, -7px);
        min-width: 160px;
        position: absolute;
        top: 15px;
          right: -160px;
          transition: .1s ease-out;
          overflow: hidden;
          z-index: -1;
          height: 35px;
          opacity: 0;
      
      }
      
      .dropdown-content a {
        color: black;
        transform: translate(-0px, -7px) scale(.5);
        padding: 12px 16px;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        background-color: #69d3aa;
        border-radius: 30px;
        margin: 5px 0px;
        transition: .2s ease-out;
        top: 0;
        left: 0;
        transition: .2s ease-out;
        position: absolute;
      }
      
      .dropdown-content:hover {
        transition: .2s ease-out;
        top: -38px;
        opacity:1;
        transition: .2s ease-out;
        overflow: hidden;
        z-index: 1;
        height: 146px;
        transform: translate(0px, -11px) scale(1);
      }
      
      .dbx-btn:hover ~ .dropdown-content a{
        position: relative;
        transform: translate(0px, 0px) scale(1);
      }
      
      .dbx-btn:hover ~ .dropdown-content {
        /* transition: .2s ease-out; */
        top: -38px;
        opacity:1;
        /* transition: .2s ease-out; */
        overflow: hidden;
        z-index: 1;
        height: 146px;
        transform: translate(0px, -11px) scale(1);
      }
      
      
      
      
      .dropdown-content:hover  a {
        transform: translate(0px, 0px) scale(1);
        transition: .2s ease-out;
        position: relative;
      }
      
      .dropdown-content a:hover {
        background-color: #2196f3;
        
      }
      
      .dropdown-content span {
        font-size: 10px;
      }
      
      .dbx-btn i {
        margin-left: 5px;
      }
      
      
      
      
      /* Animation */
      




/**
 * ----------------------------------------
 * animation bounce-top
 * ----------------------------------------
 */
 @-webkit-keyframes bounce-top {
    0% {
      -webkit-transform: translateY(-45px);
              transform: translateY(-45px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      -webkit-transform: translateY(-24px);
              transform: translateY(-24px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    65% {
      -webkit-transform: translateY(-12px);
              transform: translateY(-12px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    82% {
      -webkit-transform: translateY(-6px);
              transform: translateY(-6px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    93% {
      -webkit-transform: translateY(-4px);
              transform: translateY(-4px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
  }
  @keyframes bounce-top {
    0% {
      -webkit-transform: translateY(-45px);
              transform: translateY(-45px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      -webkit-transform: translateY(-24px);
              transform: translateY(-24px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    65% {
      -webkit-transform: translateY(-12px);
              transform: translateY(-12px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    82% {
      -webkit-transform: translateY(-6px);
              transform: translateY(-6px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    93% {
      -webkit-transform: translateY(-4px);
              transform: translateY(-4px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
  }